<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (7)</h2>
  <ul>
    <li>Alex French</li>
    <li>Jessie White</li>
    <li>Dylan Holmes</li>
    <li>Harry Winters</li>
    <li>Jo Denvers</li>
    <li>Casey Durnham</li>
    <li>Jamie Walters</li>
  </ul>

  <h2>Apologies (3)</h2>
  <ul>
    <li>Sam Jones</li>
    <li>Jack Morris</li>
    <li>Morgan Green</li>
  </ul>


</body>
</html>