<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Todo list</h1>

  <ul>
    <li>Do revision</li>
    <li>Finish homework</li>
    <li>Rest</li>
  </ul>

</body>
</html>